@media (prefers-color-scheme: light) {
  :root {
    --text-color: #0b1926;
    --color-black: #000;
    --pg-bg-color: #f9f9f9;
    --input-bg-color: #ebebeb;
    --input-outline-color: #bcbcbc;
    --input-caret-color: rgba(51, 51, 51, 0.3);
    --button-bg-color: #000;
    --button-text-color: #fff;
    --filter-invert: invert(0);
  }
}
