.Layout {
  .buttons {
    position: fixed;
    right: 10px;
    top: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }
  --aside-width: 244px;
  --nav-height: 86px;
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 20px;
  position: relative;
  .aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--aside-width);
    flex: 0 0 var(--aside-width);
    transition: width 0.3s ease;
    z-index: 1000;
    border-right: 1px solid #eee;
    background-color: #fff;
  }
  .main {
    flex: 1;
    margin-left: var(--aside-width);
    transition: margin-left 0.3s ease;

    .nav {
      height: var(--nav-height);
      position: fixed;
      left: var(--aside-width);
      transition: left 0.3s ease;
      background-color: #fff;
      top: 0;
      right: 0;
      border-bottom: 1px solid #eee;
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease;

      .top {
        flex: 50;
        border-bottom: 1px solid #eee;
        transition: all 0.3s ease;
      }
      .bottom {
        flex: 33;
        transition: all 0.3s ease;
      }
    }
    .content {
      margin-top: var(--nav-height);
      padding: 24px;
      transition: all 0.3s ease;
    }
  }
}
.aside-no-area {
  .main {
    margin-left: 60px;
    .nav {
      left: 60px;
    }
  }
}
.aside-collapse {
  --aside-width: 60px;
}
.hide-aside {
  --aside-width: 0px;
  .main {
    margin-left: 0px;
    .nav {
      left: 0px;
    }
  }
}
.nav-collapse {
  --nav-height: 38px;
  .main {
    .nav {
      height: var(--nav-height);
      .top {
        flex: 0;
        border-bottom: 1px solid transparent;
      }
    }
  }
}
@media (max-width: 768px) {
  .Layout {
    --aside-width: 0px;
  }
  .aside-no-area {
    .main {
      margin-left: 0px;
      .nav {
        left: 0px;
      }
    }
  }
  .aside-collapse {
    --aside-width: 0px;
  }
  .hide-aside {
    --aside-width: 245px;
    .mask {
      opacity: 1;
      visibility: visible;
    }
    .main {
      margin-left: 0px;
      .nav {
        left: 0px;
      }
    }
  }
}
