.Login {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // 左上角logo
  .logo {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  // 登陆表单
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    .title {
      font-size: 35px;
      font-weight: 900;
    }
    .desc {
      opacity: 0.6;
      font-size: 16px;
      letter-spacing: 2px;
    }
    .account {
      width: 100%;
      display: flex;
      input {
        width: 100%;
      }
    }
  }
}
