.Login {
  width: 100%;
  height: 100%;
  background-color: var(--pg-bg-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  img {
    -webkit-user-drag: none;
  }

  // 左上角logo
  .logo {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  //主体区-左右排版
  .content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // 左边的欢迎区
    .text {
      display: flex;
      flex-direction: column;
      // 欢迎语
      h1 {
        font-size: 40px;
        font-weight: 900;
      }
      // 副标题
      h2 {
        font-size: 24px;
        font-weight: 500;
        margin-top: 15px;
        font-weight: 900;
        letter-spacing: 2px;
      }
      .text-img {
        display: flex;
        align-items: center;
        //提示语
        .alert {
          margin-top: 120px;
          font-size: 16px;
          line-height: 2;
          opacity: 0.8;
        }
        img {
          filter: var(--filter-invert);
        }
      }
    }
  }
  // 登陆表单
  .form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    .dlzh {
      font-weight: 900;
      font-size: 30px;
      margin-bottom: 10px;
    }
    input {
      outline: none;
      border: none;
      padding: 14px 20px;
      min-width: 100%;
      border-radius: 5px;
      color: var(--text-color);
      background-color: var(--input-bg-color);
      &::placeholder {
        font-size: 14px;
        opacity: 0.8;
        letter-spacing: 1.5px;
      }
      &:focus {
        outline: none;
        outline: 2px solid var(--input-outline-color);
      }
      caret-color: var(--input-caret-color);
    }
    .qr {
      cursor: pointer;
      width: 100%;
      text-align: end;
      font-size: 13px;
      opacity: 0.6;
      margin: -8px 0;
      margin-bottom: 8px;
    }
    button {
      padding: 14px 20px;
      width: 100%;
      border-radius: 5px;
      border: none;
      background-color: var(--button-bg-color);
      color: var(--button-text-color);
      font-size: 16px;
      font-weight: 900;
      cursor: pointer;
      transition: opacity 0.2s ease;
      &:hover {
        opacity: 0.9;
      }
    }
    .line {
      text-align: center;
      width: 100%;
      margin-top: 24px;
      opacity: 0.6;
      &::before {
        content: '———————';
        margin-right: 10px;
        background: linear-gradient(to right, transparent, var(--color-black));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        opacity: 0.6;
      }
      &::after {
        content: '———————';
        margin-left: 10px;
        background: linear-gradient(to left, transparent, var(--color-black));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        opacity: 0.6;
      }
    }
  }
}
@media (max-width: 1008px) {
  .Login {
    .content {
      flex-direction: column;
      .text {
        display: none;
      }
    }
  }
}
